.table_container {
	display: grid;
	height: 100%;
	padding-left: 1rem;
	grid-template-rows: 50px auto;
	place-items: start;
	--row-height: 55px;
}

.table_name {
	place-self: center start;
	color: var(--txt-col);
	font-size: 1.5rem;
	text-decoration: underline 2px solid var(--txt-col);
	text-underline-offset: 2px;
}

.table {
	position: relative;
	display: grid;
	width: var(--table-width);
	max-width: 640px;
	height: 100%;
	max-height: 500px;
	grid-template-rows: var(--row-height) auto;

	border-bottom: solid 2px var(--txt-col);
	border-radius: 15px;
	background: var(--txt-col);
	box-shadow: -2px 2px 1px 1px var(--dk-txt-col), -3px 3px 0px 2px var(--txt-col-t6);

	overflow: auto;
}

.table p {
	color: var(--dk-txt-col);
}

.table_col {
	position: absolute;
	left: 0px;
	right: 0px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-color: transparent;
	background-color: var(--txt-col);
}

.table_col,
.table_row {
	display: grid;
	grid-template-columns: var(--grid-widths);
	gap: 0rem 1rem;
	place-items: start;
	border-bottom: 2px solid transparent;
}

.table_rows {
	grid-row: 2/3;
	display: grid;
	grid-auto-rows: var(--row-height);
}

.table_row {
	position: relative;
	padding-right: 1rem; /* Fill the remaining 1rem from background*/
}

.table_row:hover {
	cursor: pointer;
	background-color: var(--dk-txt-col);
}
.table_row:hover p {
	color: var(--txt-col);
}
.table_row:hover > .table_value {
	border-color: var(--txt-col);
}

.table_value {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	padding: 0 0.5rem;
	text-align: center;
	overflow: hidden;
}

.table_col > .table_value {
	height: 55px;
}

.table_col > .table_value,
.table_row > .table_value {
	border-right: 2px solid var(--dk-txt-col);
}

.table_col > .table_value:nth-child(-1),
.table_row > .table_value:nth-child(-1) {
	border-right: none;
}

.rowBottomBorder {
	all: unset;
	position: absolute;
	top: calc(var(--row-height) - 2px);
	left: 0px;
	height: 2px;
	width: var(--table-width);
	background-color: var(--dk-txt-col);
}
